@model IEnumerable<BookStore.Domain.Model.Autor>

@{
    ViewData["Title"] = "Autores";
}

<h2>Autores</h2>

<p>
    <a asp-action="Create">Cadastrar novo</a>
</p>

<form asp-controller="Autores" asp-action="Index">
    <div class="row">
        <div class="col col-xs-12">
            <div class="form-group">
                <label class="control-label">Filtrar</label>
                <div class="input-group" style="display: inline-block;">
                    <input type="text" class="form-control" name="search">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">OK</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nacionalidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nacionalidade)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Detalhes" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
