@model BookStore.Domain.Model.LivroViewModel

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Livro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            Autor
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Autor.Nome)
        </dd>
        <dt>
            Gênero
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genero.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataLancado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataLancado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumeroPaginas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroPaginas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Corredor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Corredor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prateleira)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prateleira)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
