@model IEnumerable<BookStore.Domain.Model.LivroViewModel>

@{
    ViewData["Title"] = "Livros";
}

<h2>Livros</h2>

<p>
    <a asp-action="Create">Cadastrar novo</a>
</p>

<form asp-controller="Livros" asp-action="Index">
    <div class="row">
        <div class="col col-xs-12">
            <div class="form-group">
                <label class="control-label">Filtrar</label>
                <div class="input-group" style="display: inline-block;">
                    <input type="text" class="form-control" name="search">
                    <select class="form-control" name="filterType">
                        <option value="0">Nome</option>
                        <option value="1">Autor</option>
                        <option value="2">Gênero</option>
                        <option value="3">Número do corredor</option>
                        <option value="3">Número da prateleira</option>
                    </select>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">OK</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataLancado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroPaginas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Corredor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prateleira)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataLancado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroPaginas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Corredor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prateleira)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
